.main__bg { 
    width: 100%;
    height: 700px;
}

.bg__wrapper { 
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}

.main__form { 
    width: 60%;
    height: 130px;
    background-color: rgb(234, 234, 234);
} 